################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tools/linq2db.t4models
/.vs/PPSI.Web.Pupuk/v15
