@model MsAktor
@{
}

<section class="content-header">
    <h1>
        Tambah Distributor
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Master/Petani/Index"><i class="fa fa-dashboard"></i> Distributor</a></li>
        <li><a href="#">Tambah Distributor</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="add_distributor" action="/Master/Distributor/CreateDistributor" method="post" enctype="multipart/form-data">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Kode:</label>
                                    <input type="hidden" name="IsCreate" value="1" />
                                    <input type="text" asp-for="Kode" id="Kode" class="form-control" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Nama:</label>
                                        <input type="text" id="Nama" asp-for="Nama" class="form-control" placeholder="Nama">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Provinsi:</label>
                                        <select id="RefProvinsiId" asp-for="ProvinsiId" asp-items="ViewBag.ddProvinsi" class="form-control selectpicker" style="width: 100%;">
                                            <option selected value="@null">--Pilih Provinsi--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Kabupaten/Kota:</label>
                                        <select id="RefKabupatenId" asp-for="KabupatenId" asp-items="ViewBag.ddKota" class="form-control selectpicker" style="width: 100%;">
                                            <option selected value="@null">--Pilih Kabupaten/Kota--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Kecamatan:</label>
                                        <select id="RefKecamatanId" asp-for="KecamatanId" asp-items="ViewBag.ddKecamatan" class="form-control selectpicker" style="width: 100%;">
                                            <option selected value="@null">--Pilih Kecamatan--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Kode Pos:</label>
                                        <input type="text" id="KodePos" asp-for="KodePos" class="form-control" placeholder="KodePos">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Nomor Handphone:</label>
                                        <input type="text" id="NomorHandphone" asp-for="NomorHandphone" class="form-control" placeholder="NomorHandphone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Email:</label>
                                        <input type="text" id="Email" asp-for="Email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Alamat:</label>
                                        <div class="form-group">
                                            <textarea asp-for="Alamat" class="form-control" rows="3" placeholder="Alamat"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="btnAddDistributor" type="submit" class="btn btn-primary">Simpan</button>
                        &nbsp;
                        <a class="btn btn-danger" href="/Master/Petani/Index">
                            <span class="glyphicon glyphicon-remove-circle"></span> Kembali
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

    }); // end document.ready

    $(document).on('keyup', '#NomorHandphone', function () {
        this.value = this.value.replace(/[^0-9]/g, "");
    });

    $('#btnAddDistributor').click(function (e)
    {
        var url = $('#add_distributor').attr('action');
        var form = $('#add_distributor').serializeArray();
        e.preventDefault();
            $.ajax({
                type: "POST",
                url: url,
                data: form,
                cache: false,
                dataType: "json",
                success: function (callback) {
                    if (callback.data != null)
                    {
                        $.notify({
                            // options
                            icon: 'glyphicon glyphicon-ok',
                            title: 'Success!',
                            message: callback.message
                        }, {
                                // settings
                                type: 'success',
                                delay: 3000
                            });
                        window.location.href = "/Master/Distributor/";
                    }
                    else
                    {
                        $.notify({
                            // options
                            icon: 'glyphicon glyphicon-remove',
                            title: 'Failed!',
                            message: callback.message
                        }, {
                                // settings
                                type: 'danger',
                                delay: 3000
                            });
                    }
                },
                error: function (callback) {
                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-remove',
                        title: 'Failed!',
                        message: 'Ajax Error'
                    }, {
                            // settings
                            type: 'danger',
                            delay: 3000
                        });
                }
        });

    });
</script>