@inject PPSI.Web.Pupuk.Interfaces.IPupukSession _session
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- Modified to be the home controller (FR)-->
        <!-- mini logo for sidebar mini 50x50 pixels -->
        @*<span class="logo-mini"><b>A</b>LT</span>*@
        <span class="logo-mini"><img class="logo-lg pull-left" src="~/images/puspa.png" width="50" alt="Puspa" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Puspa</b></span>
        @*<span class="logo-lg"><img class="logo-lg pull-left" src="~/images/puspa_stretched_resize1.png" width="230" alt="Puspa" /></span>*@
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/userdefault.jpg" width="160" height="160" class="user-image" alt="User Image">
                        <span class="hidden-xs">@_session.NamaAktor</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/images/userdefault.jpg" width="160" height="160" class="img-circle" alt="User Image">
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="/Login/Logout/" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>
