@inject PPSI.Web.Pupuk.Interfaces.IPupukSession _session

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/userdefault.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@_session.NamaAktor</p>
                <a href="#"><i class="fa fa-circle text-success"></i> @_session.RoleName</a>
            </div>
        </div>

        <!--Petani-->
        @if (_session.RoleId == 1)
        {
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i> <span>DASHBOARD</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-transfer"></i>
                    <span>Stok</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Permintaan Pembelian</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Penerimaan</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

        }

        <!--Distributor-->
        @if (_session.RoleId == 2)
        {

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i> <span>DASHBOARD</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i>
                    <span>Master Data</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/Master/Petani/">
                            <i class="fa fa-apple"></i> <span>Master Petani</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Master/Distributor/">
                            <i class="fa fa-list-alt"></i> <span>Master Distributor</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Master/Produsen">
                            <i class="fa fa-black-tie"></i> <span>Master Produsen</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Master/Pupuk">
                            <i class="glyphicon glyphicon-leaf"></i> <span>Master Pupuk</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Master/Store">
                            <i class="glyphicon glyphicon-home"></i> <span>Master Store</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-transfer"></i>
                    <span>Stok</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Permintaan Pembelian</span>
                        </a>
                    </li>

                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Pesanan Pembelian</span>
                        </a>
                    </li>

                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Penerimaan</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <span>Transaksi</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Transaksi</span>
                        </a>
                    </li>

                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Tagihan</span>
                        </a>
                    </li>

                    <li>
                        <a href="/#/">
                            <i class="fa fa-circle-o"></i> <span>Pembayaran</span>
                        </a>
                    </li>

                </ul>

            </li>


        </ul>

        }

        <!--Produsen-->
        @if (_session.RoleId == 3)
        {
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

                <li>
                    <a href="#">
                        <i class="fa fa-tachometer"></i> <span>DASHBOARD</span>
                    </a>
                </li>                

            </ul>

        }

        @if (_session.RoleId == 4)
        {
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

                <li>
                    <a href="#">
                        <i class="fa fa-tachometer"></i> <span>DASHBOARD</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-book"></i>
                        <span>Master Data</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Master/Petani/">
                                <i class="fa fa-circle-o"></i> <span>Master Petani</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Master/Distributor/">
                                <i class="fa fa-circle-o"></i> <span>Master Distributor</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Master/Produsen">
                                <i class="fa fa-circle-o"></i> <span>Master Produsen</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Master/Pupuk">
                                <i class="fa fa-circle-o"></i> <span>Master Pupuk</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Master/Store">
                                <i class="fa fa-circle-o"></i> <span>Master Store</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-transfer"></i>
                        <span>Stok</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Permintaan Pembelian</span>
                            </a>
                        </li>

                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Pesanan Pembelian</span>
                            </a>
                        </li>

                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Penerimaan</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span>Transaksi</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Transaksi</span>
                            </a>
                        </li>

                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Tagihan</span>
                            </a>
                        </li>

                        <li>
                            <a href="/#/">
                                <i class="fa fa-circle-o"></i> <span>Pembayaran</span>
                            </a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="/Master/User">
                        <i class="fa fa-users"></i> <span>Users</span>
                    </a>
                </li>

            </ul>

        }
    </section>
    <!-- /.sidebar -->
</aside>